:root {
  --primary: #2e7d32;
  --secondary: #66bb6a;
  /* --background: #F7F9F4; */
  --background: linear-gradient(135deg, #1f6f43, #2e8b57, #3fa34d);
  --food_accent: #f4a261;
  --shelter_accent: #8d6e63;
  --text: #2f2f2f;
  --highlight: #8bc34a;
  --call_to_action: #8bc34a;
}

html {
  width: 100%;
  height: 100% !important;
}
body {
  width: 100%;
  height: 100% !important;
  /* color: var(--text); */
}

.food_accent {
  background-color: var(--food_accent);
}
.shelter_accent {
  background-color: var(--shelter_accent);
}
nav {
  background-color: var(--secondary);
}
#Main_Title {
  background: var(--background);
}
.Stat {
  font-size: 2rem;
  font-weight: 700;
  color: #8bc34a; /* your highlight green */
}

@media (min-width: 768px) {
  .bg-half-dark {
    background: #212529;
    background: linear-gradient(
      90deg,
      rgba(33, 37, 41, 1) 50%,
      rgba(255, 0, 0, 0) 50%
    );
  }
  .bg-half-dark-reverse {
    background: #212529;
    background: linear-gradient(
      270deg,
      rgba(33, 37, 41, 1) 50%,
      rgba(255, 0, 0, 0) 50%
    );
  }
}
